$color1: red;
$color2: black;
$color3: blue;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box($h, $w, $bg) {
  height: $h;
  width: $w;
  background-color: $bg;
}

body {
  @extend .center;
  min-height: 100vh;
  margin: 0%;

  .box1 {
    @extend .center;
    @include box(300px, 300px, $color1);

    .box2 {
      @extend .center;
      @include box(200px, 200px, $color2);

      .box3 {
        @include box(100px, 100px, $color3);
      }
    }
  }
}
